<a href="https://colab.research.google.com/github/MohanVishe/Notes/blob/main/002B_Python_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure**
- A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way.
- The most basic data structure in Python is the "sequence."

## 1.**Lists in Python**
- Lists are one of the Sequence Data structures.
- Lists are collections of items (Strings, integers, or even other lists).
- Lists are enclosed in square brackets `[ ]`.
- Each item in the list has an assigned index value.
- Each item in a list is separated by a comma.
- Lists are mutable, which means they can be changed.

**List Creation:**

In [145]:
lst=list()
emptyList = []
lst = ['one', 'two', 'three', 'four']  # list of strings
lst2 = [1, 2, 3, 4]  # list of integers
lst3 = [[1, 2], [3, 4]]  # list of lists
lst4 = [1, 'ramu', 24, 1.24]  # list of different datatypes

In [146]:
type(lst)

list

**List Length:**

In [147]:
lst = ['one', 'two', 'three', 'four']
# find the length of a list
print(len(lst))

4

**List Append:**

In [148]:
lst = ['one', 'two', 'three', 'four']
lst.append('five')  # append will add the item at the end
print(lst)

['one', 'two', 'three', 'four', 'five']

**List Insert:**

In [149]:
lst = ['one', 'two', 'four']
lst.insert(2, "three")  # will add element 'three' at location 2
print(lst)

['one', 'two', 'three', 'four']

**List Remove:**

In [150]:

lst = ['one', 'two', 'three', 'four', 'two']
lst.remove('two')  # it will remove the first occurrence of 'two' in the list
print(lst)

['one', 'three', 'four', 'two']

**List Append & Extend:**

In [151]:
lst = ['one', 'two', 'three', 'four']
lst2 = ['five', 'six']
# append
lst.append(lst2)
print(lst)

# extend will join the list with list1
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]
['one', 'two', 'three', 'four', ['five', 'six'], 'five', 'six']

**List Extend Using "+"**

In [152]:
lst=[232,231,12]
lst2=[34343,212,311]
print(lst+lst2)

[232, 231, 12, 34343, 212, 311]


**List Delete:**

In [153]:
lst = ['one', 'two', 'three', 'four', 'five']
del lst[1]  # using 'del' to remove item based on index position
print(lst)

['one', 'three', 'four', 'five']

In [154]:
# or we can use pop() method
a = lst.pop(1)
print(a)
print(lst)

three
['one', 'four', 'five']

In [155]:
lst = ['one', 'two', 'three', 'four']
# remove an item from the list
lst.remove('three')
print(lst)

['one', 'two', 'four']


**List-related Keywords in Python:**

In [156]:
# keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four']
if 'two' in lst:
    print('AI')

AI

In [157]:
# keyword 'not' can be combined with 'in'
if 'six' not in lst:
    print('ML')

ML

**List Reverse:**

In [158]:
# reverse reverses the entire list
lst = ['one', 'two', 'three', 'four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

**List Sorting:**

In [159]:
# The easiest way to sort a List is with the sorted(list) function.
# The original list is not changed.
numbers = [3, 1, 6, 2, 8]
sorted_lst = sorted(numbers)
print("Sorted list:", sorted_lst)
print("Original list:", numbers)

Sorted list: [1, 2, 3, 6, 8]
Original list: [3, 1, 6, 2, 8]

In [160]:
# Print a list in reverse sorted order
print("Reverse sorted list:", sorted(numbers, reverse=True))  # Output: [8, 6, 3, 2, 1]
print("Original list:", numbers)

Reverse sorted list: [8, 6, 3, 2, 1]
Original list: [3, 1, 6, 2, 8]

In [161]:
b=[(100,2),(200,7),(23,3),(354,4),(44,44)]
sorted(b,key=lambda x:x[1])

[(100, 2), (23, 3), (354, 4), (200, 7), (44, 44)]

In [162]:
lst = [1, 20, 5, 5, 4.2]
lst.sort()  # Sort the list and store it in itself
print("Sorted list:", lst)  # Output: [1, 4.2, 5, 5, 20]

Sorted list: [1, 4.2, 5, 5, 20]

**List Having Multiple References:**

In [163]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)
# original list will also change
print("Original list:", lst)

Original list: [1, 2, 3, 4, 5, 6]

**String Split to Create a List:**

In [164]:
# Let's take a string
s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [165]:
s = "My name is Mohan"
split_lst = s.split()  # Default split is whitespace: space or tab
print(split_lst)

['My', 'name', 'is', 'Mohan']

**List Indexing:**
- Each item in the list has an assigned index value starting from 0.
- If you start from last it will start with -1 and so on.

In [166]:
lst = [1, 2, 3, 4]
print(lst[0])  # Print first element

1

In [167]:
#last element
print(lst[3])
print(lst[len(lst)-1])
#last element using negative index
print(lst[-1])

4
4
4

In [168]:
print(lst[1])
# Print  element using negative index
print(lst[-3])

2
2

**List Slicing:**
- Accessing parts of segments is called slicing.
- The `end` value represents the first value that is not in the selected slice.

In [169]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]
# Print all numbers
print(numbers[:])

[10, 20, 30, 40, 50, 60, 70, 80]

In [170]:
# Print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40]

In [171]:
# Print alternate elements in a list
print(numbers[::2])

[10, 30, 50, 70]

In [172]:
# Print elements starting from 0 through the rest of the list
print(numbers[2::2])

[30, 50, 70]

**List Count**

In [173]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]
# Frequency of any element
print(numbers.count(1))

2

**List Looping**

In [174]:
lst = ['one', 'two', 'three', 'four']
for ele in lst:
  print(ele)

one
two
three
four

##2.**Tuples**

- A tuple is similar to a list but with a key difference: it is immutable, meaning you can't change its elements once assigned.
- Except for the functions/methods which mutate the list almost all other are applicable for tuples

**Tuple Creation**

In [175]:
# Empty tuple
t = ()
# Tuple with integers
t = (1, 2, 3)
# Tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
# Nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [176]:
type(t)

tuple

**Accessing Elements in a Tuple**

In [177]:
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
# Accessing by index
print(t[1])

(2, 3, 4)

In [178]:
# Negative index
print(t[-1])

[1, 'raju', 28, 'abc']

In [179]:
# Nested tuple
print(t[1])
print(t[1][2])

(2, 3, 4)
4

In [180]:
# Slicing
print(t[1:4])
print(t[:-2])
print(t[:])

((2, 3, 4), [1, 'raju', 28, 'abc'])
(1,)
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

**Changing a Tuple**

In [181]:
# Tuples are immutable
# Nested items in a tuple (e.g., a list) can be changed
t = (1, 2, 3, 4, [5, 6, 7])
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [182]:
# Concatenating tuples
t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [183]:
# Repeating elements in a tuple
t = (('satish',) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

**Tuple Deletion**

In [184]:
# Tuples are immutable and cannot be changed or deleted partially
# You can delete the entire tuple
t = (1, 2, 3, 4, 5, 6)
del t

**Tuple Count and Index**

In [185]:
t = (1, 2, 3, 1, 3, 3, 4, 1)
print(t.count(1))
print(t.index(3))

3
2

**Tuple Membership**

In [186]:
t = (1, 2, 3, 4, 5, 6)
print(1 in t)
print(7 in t)

True
False

**Built-in Functions for Tuples**

In [187]:
t = (4, 5, 1, 2, 3)

In [188]:
# Sort elements (returns a new sorted list, not modifying the tuple)
sorted(t)

[1, 2, 3, 4, 5]

In [189]:
# Get the largest and smallest elements in a tuple
print(max(t))
print(min(t))

5
1

In [190]:
# Get sum of elements
print(sum(t))

15

##3.**Sets**

- A set is an unordered collection of unique items.
- Sets are mutable; you can add or remove items from them.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

**Set Creation**

In [191]:
# Creating a set of integers
s = {1, 2, 3}

# Creating a set from a list
s = set([1, 2, 3, 1])
print(s)

{1, 2, 3}

In [192]:
# Initializing an empty set
s = set()
print(type(s))

<class 'set'>

**Elements of set should be immutable**

In [193]:
s={[10,232,232],53,34,23}
# we can use tuple,string as element but not set,list

TypeError: ignored

**Adding Elements to a Set**

In [194]:
s = {1, 3}

# Adding a single element using add()
s.add(2)
print(s)

{1, 2, 3}

In [195]:
# Adding multiple elements using update()
s.update([5, 6, 1])
print(s)

{1, 2, 3, 5, 6}

In [196]:
# Adding elements from a list and another set
s.update([8, 9], {10, 2, 3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

**Removing Elements from a Set**

In [197]:
s = {1, 2, 3, 5, 4}
# Removing an element using discard()
s.discard(4)
print(s)

{1, 2, 3, 5}

In [198]:
# Removing an element using remove()
s.remove(2)
print(s)

{1, 3, 5}

In [199]:
# Removing an element not present in the set using discard()
s.discard(7) #(using remove() give keyError)
print(s)

{1, 3, 5}

In [200]:
# Removing a random element using pop()
s.pop()  # Removes a random element
print(s)

{3, 5}

**Python Set Operations**

In [201]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Union of two sets using | operator
print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [202]:
# Intersection of two sets using & operator
print(set1 & set2)
print(set1.intersection(set2))

{3, 4, 5}
{3, 4, 5}

In [203]:
# Set Difference: Elements in set1 but not in set2
print(set1 - set2)

# Symmetric Difference: Elements in both sets but not common
print(set1 ^ set2)

{1, 2}
{1, 2, 6, 7}


**Frozen Sets**

- Frozen sets are similar to sets but are immutable.

In [204]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

# Adding elements to a frozen set (raises an error)
# Frozen sets don't support indexing
# Operations on frozen sets (Union,Intersection,Symmetric difference )


**Note:** Frozen sets are hashable and can be used as dictionary keys, unlike sets.:

 - means they can be used as dictionary keys, while regular sets are not hashable and cannot be used as dictionary keys.

In [205]:
# Creating a frozen set
frozen_set = frozenset([1, 2, 3])

# Creating a dictionary with a frozen set as a key
my_dict = {frozen_set: "Hello, world!"}

# Accessing the dictionary using the frozen set as a key
print(my_dict[frozen_set])

Hello, world!

In [206]:
# Attempting to use a regular set as a key will result in a TypeError
my_set = {1, 2, 3}

my_dict = {my_set: "This will raise a TypeError"}

TypeError: ignored

##4.**Dictionaries in Python**

- A dictionary is an unordered collection of key-value pairs.
- Each key in a dictionary is unique.
- Dictionaries are mutable; you can add, modify, or remove key-value pairs.

**Dictionary Creation**

In [207]:
# Creating an empty dictionary
my_dict = {}

# Dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}

# Dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}

# Creating an empty dictionary using dict()
my_dict = dict()

# Creating a dictionary from a list of tuples
my_dict = dict([(1, 'abc'), (2, 'xyz')])

**Accessing Elements in a Dictionary**

In [208]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
# Accessing values by key
print(my_dict['name'])
# Accessing a key that doesn't exist raises KeyError

satish

In [209]:
# Using get() method to access a key
print(my_dict.get('address'))
print(my_dict.get('degree'))

guntur
None

In [210]:
# Call index on that value and even call on that method
employee={"Name":"Mohan","Skill":["Python","Machine Learning","Deep Learning"]}
employee["Skill"]

['Python', 'Machine Learning', 'Deep Learning']

In [211]:
employee["Skill"][0].upper()

'PYTHON'

**Adding or Modifying Elements in a Dictionary**

In [212]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

# Modifying an existing key's value
my_dict['name'] = 'raju'
print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

In [213]:
# Adding a new key-value pair
my_dict['degree'] = 'M.Tech'
print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'M.Tech'}


**Deleting or Removing Elements from a Dictionary**

In [214]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

# Removing a particular item by key and returning its value
print(my_dict.pop('age'))
print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

In [215]:
# Removing an arbitrary key-value pair using popitem()
my_dict.popitem()
print(my_dict)

{'name': 'satish'}

In [216]:
# Deleting a particular key-value pair using del
squares = {2: 4, 3: 9, 4: 16, 5: 25}
del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25}

In [217]:
# Removing all items using clear()
squares.clear()
print(squares)

{}

**Dictionary Methods**

In [218]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}
# Creating a copy of a dictionary
my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [219]:
# Creating a dictionary using fromkeys()
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [220]:
# Getting a view of dictionary items
print(squares.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [221]:
# Getting a view of dictionary keys
print(squares.keys())

# Getting a view of dictionary values
print(squares.values())

dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])

**zip() function**

In [222]:
L1=["cat","name","skill","box","a"]
L2=[3,4,5,3,1]
dict(zip(L1,L2))

{'cat': 3, 'name': 4, 'skill': 5, 'box': 3, 'a': 1}

##5.**Strings**

- A string is a sequence of characters.
- Internally, computers deal with numbers (binary), so characters are encoded using encoding schemes like ASCII and Unicode.
- In Python, strings are sequences of Unicode characters.

**Creating Strings**

In [223]:
# Single quotes
myString = 'Hello'

# Double quotes
myString = "Hello"

# Triple quotes for multiline strings or docstrings
myString = '''Hello'''


**Accessing Characters in a String**

In [224]:
myString = "Hello"

# Accessing individual characters using indexing
print(myString[0])
print(myString[-1])

# Slicing to access a range of characters
print(myString[2:5])

H
o
llo

**Changing or Deleting a String**

In [225]:
myString = "Hello"

# Strings are immutable; you can't change individual characters
myString[4] = 's'  # Raises TypeError

TypeError: ignored

In [226]:
# Deleting a string
del myString

**String Operations**

**Concatenation**

In [227]:
s1 = "Hello "
s2 = "Satish"

# Concatenation using the + operator
print(s1 + s2)

# Repetition using the * operator
print(s1 * 3)

Hello Satish
Hello Hello Hello

**Iterating Through a String**

In [228]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

**String Methods**

In [229]:
# Converting to lowercase and uppercase
print("Hello".lower())
print("Hello".upper())

hello
HELLO

In [230]:
# Splitting a string
print("This will split all words in a list".split())

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [231]:
# Joining a list of words into a string
print(' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']))

This will split all words in a list

In [232]:
# Finding a substring
print("Good Morning".find("Mo"))

5

In [233]:
# Replacing a substring
s1 = "Bad morning"
s2 = s1.replace("Bad", "Good")
print(s1)
print(s2)

Bad morning
Good morning

**Sorting Words in Alphabetic Order**

In [234]:
myStr = "python Program to Sort words in Alphabetic Order"
words = myStr.split()
words.sort()
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words