<a href="https://colab.research.google.com/github/MohanVishe/Notes/blob/main/002C_Python_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comprehensions

- Comprehensions in Python are concise and expressive ways to create lists, dictionaries, or sets. They allow you to generate these data structures in a single line of code, often replacing the need for traditional for loops.

#1. List Comprehensions
- If we understand list comprehension the other comprehension are similar

##1. Simple Comprehension

- **Example** : getting the squares of the numbers in a list

In [ ]:
list_of_numbers = [2,5,6,9,11,14,15]

**traditional way**

In [ ]:
squared_numbers = []

for number in list_of_numbers:
  squared_numbers.append(number**2)

print(squared_numbers)

[4, 25, 36, 81, 121, 196, 225]

**list comprehension**

In [ ]:
[number**2 for number in list_of_numbers]

[4, 25, 36, 81, 121, 196, 225]

## 2.Using Condition.(if)
- **Example** : Suppose we wanted to get the squares of only those numbers which are even

**traditional way**

In [ ]:
even_square=[]
for i in list_of_numbers:
  if i%2==0:
    even_square.append(i**2)
print(even_square)

[4, 36, 196]

**list comprehension**

In [ ]:
[number**2 for number in list_of_numbers if number%2==0]

[4, 36, 196]

##3.Using Condition (if-else):
- The position will change for only (if) it was at last and for (if-else) it will be at start

- **Example**: Square of odd and cube of even

In [ ]:
[i**3 if i%2!=0 else i**2 for i in list_of_numbers]

[4, 125, 36, 729, 1331, 196, 3375]



##4. for nested loops

- Nested loops in list comprehensions remember that the for clauses remain in the same order as in our original for loops.

**traditional way**

In [ ]:
list_of_numbers = []

for num1 in range(4):
  for num2 in range(2):
    list_of_numbers.append(num1)

print(list_of_numbers)

[0, 0, 1, 1, 2, 2, 3, 3]

**list comprehension**

In [ ]:
[num1 for num1 in range(4) for num2 in range(2)]

[0, 0, 1, 1, 2, 2, 3, 3]

**Note : aware of this mistake**

In [ ]:
[num2**2 for num2 in range(2) for num1 in range(4)]

[0, 0, 0, 0, 1, 1, 1, 1]

##5. Create list of lists

**traditional way**

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list
  list_of_lists.append([])  # [[0]] , list_of_lists[1]

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists[num1].append(num2)  #list_of_lists[0]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

**list comprehension**

In [ ]:
[[num2 for num2 in range(3)] for num1 in range(4)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

##6. list comprehension to get a tuple

In [ ]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

In [ ]:
# tuple where remove the word 'day'
tuple([day[:-3] for day in days])

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

#2 Set Comprehension

In [ ]:
# Using a for loop
first_letters = set()
for word in "set comprehension":
    first_letters.add(word[0])

print(first_letters)

{' ', 'r', 'e', 'c', 'n', 'i', 's', 'p', 'o', 'm', 't', 'h'}

In [ ]:
# Using set comprehension
first_letters = {word[0] for word in "set comprehension"}
print(first_letters)

{' ', 'r', 'e', 'c', 'n', 'i', 's', 'p', 'o', 'm', 't', 'h'}

#3. Dictionary Comprehensions

##1. Create dictionary of number and square

In [ ]:
numbers=[23,31,12,4,12,5,21]

In [ ]:
num_sq={number:number**2 for number in numbers}
print(num_sq)

{23: 529, 31: 961, 12: 144, 4: 16, 5: 25, 21: 441}

##2. swap keys and values

In [ ]:
{j:i for i,j in num_sq.items()}

{529: 23, 961: 31, 144: 12, 16: 4, 25: 5, 441: 21}

##3. form square substract 100

In [ ]:
{i:j-100 for i,j in num_sq.items()}

{23: 429, 31: 861, 12: 44, 4: -84, 5: -75, 21: 341}